.contenedor-titulo-menu {
    width: 90%;
    margin: 0 auto;
    padding: 100px 0px 50px 25px;
}
.div-titulo-menu {
    font-weight: bold;
    width: 35%;    
}
.div-titulo-menu h1 {
    color: #592F3D;
    font-size: 5rem;
}