.contenedorTarjeta {
	/*background-color: red;*/
	display: flex;
	align-items:center;
	justify-content: space-evenly;
	margin-top: 20px;
	margin-right: 10px;

}

.imagen {
	background-color: blue;
	width: 250px;
	margin: 10px;
}

.contenedorCantidad {
	/*background-color: blue;*/
	min-width: 100px;
	width: 150px;
	margin: 10px;
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction:column;
}

.contenedorCantidad p {
	font-size: 25px;
}

.contenedorCantidad button {
	font-size: 20px;
	margin-top: 20px;
}

.imagen img{
	min-width:200px;
	width: 100%;

}

.contenedorInfo {
	/*background-color: pink;*/
	min-width: 200px;
	width: 70%;
}

.contador {
	/*background-color: black;*/
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-size: 30px;
	width: 120px;
}

.contador input {
	width: 50px;
}